# GEMINI_API_KEY: Required for direct Gemini REST API calls
GEMINI_API_KEY=MY_GEMINI_API_KEY

# KLIPY_API_KEY: Official KLIPY API integration key
KLIPY_API_KEY=5jWQJNDmItahvohDNNUW5R0ajb119bOKocsj4vcymk1eUQPXSrA3Oj8Y7flWIxLB
